# Purchase Verification
To verify yourself and get a role for a premium resource to access the support channels follow these steps:

1. Buy any of my premium resources on Spigot.
2. Wait for an email to arrive on your PayPal address from `purchase@eldoria.de`. (Should only take a few seconds. If you haven't received one after 24 hours please contact <@214347948316819456>)
3. Enter the key via the </register:1066451392740479112> command to claim your role.

You can add up to two more people on your Support license. Take a look at the </registrations share add:1066451392740479114> command for this.

If you purchased a plugin prior to **01.10.22** you didn't get a code. Please contact me via discord or spigot and write me your email address, so I can send one.
